root = true

[{*.kt,*.kts}]
max_line_length = 140 # to align IntelliJ IDEA/Android Studio with KtLint configuration

ktlint_standard_class-signature = disabled # leads to too many unnecessary line breaks for constructors with multiple parameters
ktlint_standard_no-blank-line-in-list = disabled # blank lines between list elements can be used for grouping
