name: Release

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - hotfix/*
      - release/*
  workflow_dispatch: # allow Action to be run manually

env:
  BRANCH: ${{ github.ref_name }}
  DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Validate branch
        if: startsWith(env.BRANCH, 'hotfix/') != true && startsWith(env.BRANCH, 'release/') != true
        run: echo "::error ::Can only release from Hotfix/Release branch"

      - id: get_version_from_branch
        name: Get version from branch
        run: echo "version=${BRANCH##*/}" >> "$GITHUB_OUTPUT"

      - name: Checkout with GIT
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Set up JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: temurin
          java-version-file: .tool-versions

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          cache-disabled: true # avoid cache poisoning of runtime artifacts

      - name: Set up GIT user
        uses: fregante/setup-git-user@024bc0b8e177d7e77203b48dab6fb45666854b35 # v2

      - name: Publish package with Gradle
        run: >-
          ./gradlew release
          -Prelease.useAutomaticVersion=true
          -Prelease.releaseVersion="${RELEASE_VERSION}"
        env:
          RELEASE_VERSION: ${{ steps.get_version_from_branch.outputs.version }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
  merge:
    name: Merge to default branch
    needs: release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - if: startsWith(env.BRANCH, 'release/')
        uses: devmasx/merge-branch@6ec8363d74aad4f1615d1234ae1908b4185c4313 # master
        with:
          type: now
          head_to_merge: ${{ env.BRANCH }}
          target_branch: ${{ env.DEFAULT_BRANCH }}
          message: Merge branch '${{ env.BRANCH }}'
          github_token: ${{ secrets.GITHUB_TOKEN }}
  delete:
    name: Delete branch
    needs: merge
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false
      - run: git push origin --delete "$BRANCH"
