name: "Test Report"

on: # yamllint disable-line rule:truthy
  workflow_call:

jobs:
  report:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      checks: write
    steps:
      - uses: dorny/test-reporter@fe45e9537387dac839af0d33ba56eed8e24189e8 # v2
        with:
          artifact: test-results
          name: Kotest Tests
          path: "**/*.xml"
          reporter: java-junit
