name: "Test Report"

on: # yamllint disable-line rule:truthy
  workflow_call:

jobs:
  report:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      checks: write
    steps:
      - uses: dorny/test-reporter@7b7927aa7da8b82e81e755810cb51f39941a2cc7 # v2
        with:
          artifact: test-results
          name: Kotest Tests
          path: "**/*.xml"
          reporter: java-junit
